@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply background image to the whole website 
body {
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  
  /* You can also set other styling for the body if needed */
  